$primary = #00b092
$text = #333333


// TODO: Needs sorting
$color1 = #66727F
$color2 = #F5F5F5
$color3 = #d0d0d0
$color4 = #ddd
$color5 = #F2F2F2
$color6 = #949494
$color7 = #F9F9F9
$color8 = #F3F3F3
