@import url('../Avada/style.css')

@require 'collections/colors'
@require 'collections/variables'
@require 'collections/social-icons'
@require 'collections/avada'
@require 'collections/plugins'

@require 'collections/header'
@require 'collections/home'
@require 'collections/content'
@require 'collections/sidebar'
@require 'collections/footer'
@require 'collections/flex'
@require 'collections/tables'
@require 'collections/typography'

// TODO: look into creating a custom aliem loading animation for plots

// Form Controls
input
    &:focus
        outline-color: $input-focus
        outline-width: medium

// Overrides
.fusion-content-widget-area .widget li a
    @extends a

@media (max-width: 800px)
    table
        position: relative
        display: block
        max-width: 100%
        overflow-x: scroll
