@import '../variables';

.home,
.archive {
    .post {
        overflow: hidden;
        margin-bottom: 20px;
        background: white;
        padding: 20px;
        border-radius: 2px;
        box-shadow: $shadow-2dp;

        .fusion-meta-info {
            display: none;
        }

        .more-link {
            display: none;
        }
    }
}

// Remove date stamps from beside posts
.fusion-date-and-formats {
    display: none;
}

.home .post img {
    // Fix distorted content / images on mobile
    @include device-large {
        display: block;
        float: none;
        margin: auto auto 20px auto;
    }
}
