@import '../variables';

.jetpack_subscription_widget {
    #subscribe-email {
        display: flex;
        padding: 10px 0 5px 0;
        input[type='email'] {
            width: 100%;
        }
    }
    #subscribe-submit {
        margin: 0 !important;
        input[type='submit'] {
            @extend .btn;
            @extend .btn--primary;
            margin: 0;
        }
    }
}

#sidebar {
    margin: 20px;
    width: 250px;
    font-size: 12px;
    line-height: 1.5em;
    h4 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.1em;
        margin-bottom: 10px;
    }
    .widget {
        background: white;
        margin: 0 0 15px 0;
        &.widget_adsense {
            text-align: center;
            background: transparent;
            ins.adsbygoogle {
                box-shadow: $shadow-2dp;
                background: white;
            }
        }
        &.widget_text:nth-of-type(2) {
            padding: 10px 0;
        }
        &.widget_text,
        &.jetpack_subscription_widget {
            padding: 10px;
            box-shadow: $shadow-2dp;
            border-radius: 2px;
            p {
                margin-bottom: 5px;
            }
            &:last-of-type {
                margin-bottom: inherit !important;
            }
        }
    }
    .widget-title {
        text-align: center;
    }
    .tabs-widget {
        box-shadow: $shadow-2dp;
        .tabs li {
            width: 50%;
        }
        .popular-post-item-container {
            display: flex;
            align-items: center;
        }
        .popular-post-heading {
            text-align: center;
            font-weight: 600;
            padding: 5px;
            background: $primary;
            color: white;
            min-width: 75px;
        }
        .popular-post-holder {
            padding: 5px;
            &.comments {
                padding: 0;
            }
        }
        .popular-post-image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;
            width: 75px;
            min-width: 75px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            img {
                height: 75px;
                width: 75px;
                object-fit: cover;
            }
        }
        .comment-post-title {
            border-bottom: solid $primary;
            padding: 2px 0 5px;
            margin-bottom: 4px;
            font-weight: 600;
        }
        ul.news-list li {
            padding: 5px;
        }
    }
    .fusion-tabs-widget .tab-holder .tabs li a {
        color: $font-primary;
    }
}
