@require '../colors'

.box
    display: inline-block
    color: white
    background: $dark-blue
    padding: 20px
    p:last-of-type
        margin: 0 !important

.box--secondary
    background: #0079b2
