
.flex-grid
    display: flex

.flex-grid__item
    flex: auto
    width: auto
    padding: 10px

for n in 12 25 33 50
    .flex-grid__item--{n}
        max-width: ((n + 2) / 100) * 1100px
        min-width: ((n - 2) / 100) * 1100px

@media (max-width: 480px)
    .flex-grid__item
        max-width: 300px
        min-width: 300px
