@require '../colors';

$width = 320px
$flip-speed = 0.4s

.flip-box
    perspective: 1000px
    transform-style: preserve-3d
    width: $width
    margin-bottom: 1.5em
    &:hover
        .flip-box__inner--front
            transform: rotateY(180deg)
        .flip-box__inner--back
            transform: rotateY(0deg)

.flip-box__container
    transition: $flip-speed
    transform-style: preserve-3d
    position: relative

.flip-box__inner
    width: $width
    backface-visibility: hidden
    transition: $flip-speed
    transform-style: preserve-3d
    position: absolute
    top: 0
    left: 0
    padding: 20px
    border-radius: 2px
    img
        max-width: 150px

.flip-box__inner--front
    z-index: 2
    transform: rotateY(0deg)
    animation-name: flop
    background: $primary
    color: white

.flip-box__inner--back
    animation-name: flip
    transform: rotateY(-180deg)
    background: $tertiary
