@import 'variables';

// ALiEMx Page
.page-id-51932 {
    #main {
        background: linear-gradient(160deg, rgb(50, 46, 97), rgb(0, 176, 146));
        padding: 0;
        // FIXME: Try these globally
        position: relative;
        overflow-y: hidden;

        .fusion-row {
            max-width: 1400px;
        }
    }

    .page-aliemx__heading {
        text-align: center;
        width: 100%;
        margin-top: 40px;
    }

    .page-aliemx {
        background: $secondary;
        display: flex;
    }

    .coming-soon__heading {
        font-size: 3em;
        padding: 0;
        color: white;
    }

    .page-aliemx__boxes {
        margin: 10px;
        flex: auto;
    }

    .page-aliemx__boxes__intro {
        padding: 20px;
        color: white;
        margin-bottom: 40px;
        text-align: initial;
    }

    .page-aliemx__boxes__features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
    }

    .page-aliemx__box {
        position: relative;
        padding: 20px;

        h3 {
            color: $primary;
            font-weight: 600;
        }
    }

    .notify-box__container {
        max-width: 500px;
        min-width: 300px;
        flex-shrink: 3;
        margin: 10px;
        position: relative;
    }

    .notify-box {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        box-shadow: $shadow-2dp;
        top: -50px;
        position: absolute;
    }

    .notify-box__email-input {
        display: flex;
    }
}
