@import 'variables';

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.5em;
    border: none;
    box-shadow: $shadow-2dp;
    @include device-large {
        position: relative;
        display: block;
        max-width: 100%;
        overflow-x: scroll;
    }

    tr {
        &:nth-child(odd) {
            background-color: $tertiary;
        }

        td,
        th {
            padding: 0.8em;
            vertical-align: top;
        }
    }

    tfoot {
        font-size: 0.8em;

        // stylelint-disable-next-line
        tr {
            background-color: white !important;
            border-top: solid darken($secondary, 10) 1px;
        }

        td {
            text-align: justify;
            padding: 0 0.8em;
            color: $font-gray;
        }

        p {
            margin: 10px 0 !important;
            line-height: 1.5em;
        }
    }

    thead > tr > td,
    tbody > tr > th {
        background-color: $primary;
        text-align: left;
        font-weight: bold;
        color: white;
    }
}

// @stylint off
.ReactVirtualized__Table {
    @extend table;
    border-radius: 2px 2px 0 0;

    &:focus {
        outline: 0;
    }

    & *:focus {
        outline: 0;
    }
}

.ReactVirtualized__Grid.ReactVirtualized__Table__Grid {
    box-shadow: $shadow-2dp;
}

.ReactVirtualized__Table__headerRow {
    background-color: $primary;
    text-align: left;
    font-weight: bold;
    color: white;
    text-transform: none !important;
    line-height: normal;
}

.ReactVirtualized__Table__headerColumn {
    white-space: nowrap;
}
