@import 'variables';

.btn {
    @include noselect;
    margin-bottom: 1.5em;
    color: $font-secondary;
    background-image: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    min-width: 64px;
    outline: 0;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: $button-transition;
    vertical-align: middle;
    white-space: nowrap;
    &::-moz-focus-inner {
        border: 0;
    }
    &:active:hover {
        box-shadow: $shadow-4dp;
    }
}

.btn--primary {
    background: $primary;
    color: white !important;
}
