@import '../variables';

.person {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10px 20px 10px;
    box-shadow: $shadow-2dp;
    border-radius: 2px;
    width: 300px;
    flex: auto;
}

.person__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    img {
        max-width: 100%;
        max-height: 200px;
        height: auto;
    }
}

.person__details {
    display: flex;
    padding: 5px;
}

.person__twitter {
    a {
        font-family: icomoon;
        font-size: 1.5em;
    }
    a:before {
        content: '\e605';
    }
}

.person__name {
    font-weight: 600;
}

.person__title {
    font-style: italic;
}

.person__meta {
    flex: auto;
}

.person__background {
    padding: 5px;
    font-size: 0.8em;
}

@media (max-width: 600px) {
    .person {
        float: none !important;
        margin: 0 auto 20px auto !important;
    }
}
