@import '../variables';

.home,
.archive {
    .post {
        overflow: hidden;
        margin-bottom: 20px;
        background: white;
        padding: 10px 20px;
        border-radius: 2px;
        box-shadow: $shadow-2dp;
        .fusion-meta-info {
            display: none;
        }
        .more-link {
            display: none;
        }
    }
}

// Remove date stamps from beside posts
.fusion-date-and-formats {
    display: none;
}

// Fix distorted content / images on mobile
@media (max-width: 800px) {
    .home .post img {
        display: block;
        float: none;
        margin: auto auto 20px auto;
    }
}
