@import '../variables';
@import 'header';
@import 'home';
@import 'content';
@import 'sidebar';
@import 'footer';
@import 'flex';

html {
    height: 100%;
}

body {
    background: $secondary;
    margin: 0;
    min-height: 100%;
}

body {
    #a11y-skip-link {
        display: block;
        left: 0;
        position: absolute;
        z-index: 2;
        padding: 5px 10px;
        font-weight: bold;
        background: #282a2b;
        transform: translateY(-100%);
        transition: transform 0.2s;
        &:focus {
            transform: translateY(0);
            transition: transform 0.2s;
        }
    }
    &.logged-in #a11y-skip-link {
        top: 32px;
    }
}

#wrapper {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

.footer {
    grid-row: 3;
}

img[src$='.svg'] {
    height: auto;
    max-width: 100%;
}
