$primary = #00b092
$input-focus = #00caa7
$secondary = #F2F2F2 // Header background
$tertiary = #F5F5F5
$font-primary = #333
$font-gray = #706d6e // header font color
$font-secondary = #666
$footer-gray = #363839
$blue-1 = #345995
$blue-2 = #0079b2

// Buttons
$button-active    = rgba(0, 0, 0, .12)
$button-disabled  = #a0a5aa

$feminem-secondary = #ccccff

$social-icons = {
    facebook: #3b5998,
    twitter: #55acee,
    googleplus: #dd4b39,
    reddit: #5f99cf,
}
