#main
    padding-top: 135px
    background: $secondary

#content
    margin-top: 20px
    width: 75%

.single
    #content
        margin-top: -15px
    .post
        background: white
        padding: 20px
        border-radius: 2px
        box-shadow: $shadow-2dp

// ----------- END NEW CARD STYLE CHANGES

#content
    line-height: 1.64em
    h1
        font-size: 1.8em
        line-height: 1.25em
        font-weight: 600
    h2
        font-weight: 400
    h3
        font-weight: 600
        text-transform: uppercase
        letter-spacing: .1em
    h4
        font-weight: 700
    ul > li
        line-height: 1.6em !important
        margin-bottom: 0px !important
    blockquote
        border-left: 4px solid $primary
        font: italic 13px/20px 'Open Sans',arial,helvetica,sans-serif
        img
            display: inline-block
    iframe
        max-width: 100%
    .twitter-tweet-rendered
        margin: auto

// "Next" and "Previous" buttons at the top of posts
.single-navigation
    margin-bottom: 0 !important
    border: none
    a:first-of-type
        float: left
        padding-left: 10px
    a[rel='prev'], a[rel='next'] // @stylint ignore
        color: $font-gray
        &:before,
        &:after
            color: $font-gray
        &:hover,
        &:hover:before,
        &:hover:after
            color: $font-primary

.pagination
    width: 100%
    text-align: center

.pagination-prev,
.pagination-next
    color: $font-gray
    &:before,
    &:after
        color: $font-gray
    &:hover
        color: $font-primary
        &:before,
        &:after
            color: $font-primary

// Both the "read more" div on the home page and the author meta on posts
.fusion-meta-info
    border: 0
    margin: 0

.fusion-meta-info-wrapper
    line-height: 1.5em
    > div
        padding-bottom: 5px

.fusion-single-line-meta
    > div
        padding-top: 5px

// Image caption boxes
.wp-caption
    background: $tertiary
    padding: 10px
    box-shadow: $shadow-2dp
    border-radius: 2px
    margin-bottom: 20px
.wp-caption-text
    text-align: justify
    background: $tertiary
    margin: 0 !important
    padding-top: 5px

// Gigantic image above pages
.fusion-flexslider
    display: none


@media (max-width: 800px)
    .single #content
        margin-top: 0

    #main
        padding-top: 0

    // Better image alignment on mobile TODO: This looks strange. Might wanna test this
    .post .post-content img
        float: none
        display: table-header-group
    #content
        blockquote
            margin-left: 0
            margin-right: 0
