
.aliem-flex > div
    display: flex
    flex-wrap: wrap
    justify-content: center

.aliem-flex__item
    flex: auto
    width: auto
    padding: 10px

for n in 12 25 33 50
    .aliem-flex__item_{n}
        max-width: ((n + 2) / 100) * 1100px
        min-width: ((n - 2) / 100) * 1100px

@media (max-width: 480px)
    .aliem-flex__item
        max-width: 300px
        min-width: 300px
