
// Academic Bloggers Toolkit
.abt_PR_heading // @stylint ignore
    border-bottom: 4px solid $primary

#abt-bibliography
    background: lighten($secondary, 3)
    border-radius: 2px
    font-size: 0.8em
    padding: 0 10px 10px 10px
    &::before
        content: 'References'
        font-size: 1.3rem
        line-height: 2.5em

// Shortcodes Ultimate
.su-lightbox
    display: block
    position: fixed !important
    z-index: 999
    bottom: -5px !important
    left: 2% !important
    span
        line-height: 40px !important
        font-size: 1.3em !important

// Image Box Shortcode
.img-box
    background-color: $secondary
    padding: 10px 10px 0 10px
    font-size: 0.8em
    box-shadow: $shadow-2dp
    text-align: justify
    margin-bottom: 1em
